<ion-header>
  <ion-toolbar color="primary" class="alpha-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Browse Courses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='light'>
  <ion-card>
    <ion-button color="light" expand="block" (click)="presentModal()">Search Courses</ion-button>
  </ion-card>
  <ng-container *ngIf="showData">
  <ion-card *ngFor = "let sub of courseList" class="welcome-card section-card">
    <ion-item>
      <ion-card-title size="4">{{sub.title}}</ion-card-title>
    </ion-item>
    <ion-item>
      <ion-label class="author"><strong>Fee:</strong> </ion-label>
      <ion-button fill="outline" slot="end">{{sub.course_fee.fee}} PKR</ion-button>
    </ion-item>
    <ion-item>
      <ion-label class="author"><strong>Teacher: </strong>{{sub.teacher.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="time">Timings from {{sub.schedule[0].start_time}} | sub.schedule[0].end_time</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="date">Starting from {{sub.start_date | date : mediumDate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-chip *ngFor = "let day of sub.schedule">
        <ion-label>{{day.day | days }}</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-button color='secondary' (click) ="courseDetail(sub.id)">View Details</ion-button>
    </ion-item>
  </ion-card>
</ng-container>
<ng-container *ngIf="!showData">
  <ion-card class="welcome-card">
    <ion-card-content>
      <h2>No records :(</h2>
    </ion-card-content>
  </ion-card>
</ng-container>
</ion-content>
