.welcome-card{
  margin-top: 20px;
  background: url(src/assets/images/edu-icon.png) no-repeat bottom right #ffffff;
  background-size: contain;
  &.section-card{
    background: linear-gradient(0deg, rgb(241, 241, 241) 0%, rgba(255,255,255,1) 100%);
    margin: 10px 15px;
    padding: 10px;
    border-radius: 5px;
  }
  ion-item{
    --min-height: 10px;
  }
  h2{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 0 0;
    font-size: 17px;
    color: #eb615f;
  }
  h3{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 0 0;
    font-size: 13px;
    color: #666;
    strong{
      color: #eb615f;
    }
  }
  h4{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 0 0;
    font-size: 13px;
    color: #666;
  }
  .date{
    font-size: 13px;
    color: #4c8dff;
  }
  .time{
    font-size: 13px;
    color: #0ec254;
  }
  .button-right {
    text-align: right;
  }
  ion-button{
    --background: #ffffff;
    width:100%;
    color: #eb615f;
    --box-shadow: none;
    font-size: 15px;
    text-align: left !important;
  }
}

