<ion-header>
  <ion-toolbar color="secondary" class="alpha-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Browse Courses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="alpha-bg-lite">
  <ion-card class="transparent">
    <ion-button color="primary" expand="block" (click)="presentModal()">Search Courses</ion-button>
  </ion-card>
  <ng-container *ngIf="showData">
  <div *ngFor = "let sub of courseList" class="welcome-card section-card">
    <h2>{{sub.title}}</h2>
    <h3 class="author"><strong>Fee:</strong> {{sub.course_fee.fee}} PKR</h3>
    <!--<h4 class="author"><strong>Teacher: </strong>{{sub.teacher.name}}</h4>-->
    <h4 class="author"><strong>Starting from</strong> {{sub.start_date }}  -- <strong>Timings:</strong> {{sub.schedule[0].start_time}} | {{sub.schedule[0].end_time}}</h4>
    
    <div style="margin-top: 10px;">
      <ion-chip *ngFor = "let day of sub.schedule">
        <ion-label>{{day.day | days }}</ion-label>
      </ion-chip>
    </div>
    <ion-button color='primary' (click) ="courseDetail(sub.id)">View Details</ion-button>
  </div>
</ng-container>
<ng-container *ngIf="!showData">
  <ion-card class="welcome-card">
    <ion-card-content>
      <h2>No records :(</h2>
    </ion-card-content>
  </ion-card>
</ng-container>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <a href="whatsapp://send?phone=+923180574554">
    <ion-fab-button>
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-fab-button>
  </a>
  </ion-fab>
</ion-content>
