<ion-header>
  <ion-toolbar color="primary" class="alpha-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Course Class
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='light'>
<ion-button expand="block" (click)="presentModal()">Apply Filter</ion-button>
  <ng-container *ngIf="showData">
  <ion-card *ngFor = "let sub of courseList">
    <ion-item>
      <ion-card-title (click) ="courseDetail(sub.id)">{{sub.title}}</ion-card-title>
      <ion-button fill="outline" slot="end">{{sub.course_fee.fee}} PKR</ion-button>
    </ion-item>
    <ion-item>
      <ion-chip *ngFor = "let day of sub.schedule">
        <ion-label>{{day.day | days }}</ion-label>
      </ion-chip>
    </ion-item>

    <ion-card-content>
     {{sub.description}}
      <ion-item-divider></ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Starting from {{sub.start_date | date : mediumDate }}</ion-label>
          </ion-col>
          <ion-col class="ion-text-right">
            <a class="underline" (click) = "bookCourse(sub.id)">Book Now</a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ng-container>
<h2 *ngIf="!showData" class="margin-all">No record found</h2>
</ion-content>
