<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Course Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/tution.png"></ion-img>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h3>{{courseDetail.title}}</h3>
        <p>{{name}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end">{{fee}} PKR</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
