<ion-header>
  <ion-toolbar color="primary" class="alpha-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Course Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color='light'>
  <ion-card class="welcome-card section-card">
    <ion-item>
      <ion-label>
        <h1>{{courseDetail.title}}</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="author">{{name}}</p></ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="fee">{{fee}} PKR</p></ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="date">Starting: 01 June,2019</p></ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="date">Ending: 01 June,2019</p></ion-label>
    </ion-item>
    <ion-item>
      <ion-chip>
        <ion-label>Mon</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Wed</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Fri</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Sat</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label class="time">02:00PM to 04:00PM</p></ion-label>
    </ion-item>
  </ion-card>
</ion-content>