.welcome-card{
  margin-top: 20px;
  background: url(src/assets/images/edu-icon.png) no-repeat bottom right #ffffff;
  background-size: contain;
  box-shadow: none;
  &.section-card{
    background: #fff;
    background-image: none;
  }
  h1{
    font-family: 'Raleway', sans-serif;
    margin: 15px 0;
    font-size: 20px;
    color: #da3b00;
  }
  h4{
    font-family: 'Raleway', sans-serif;
    margin: 30px 0 0 20px;
    font-size: 13px;
    color: #666;
  }
  .date{
    font-size: 13px;
    color: #4c8dff;
  }
  .time{
    font-size: 13px;
    color: #0ec254;
  }
  .description{
    padding: 15px;
    .tabs{
      .tab{
        padding: 15px;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color: #666;
        border-bottom: #fff solid 2px;
        text-decoration: none;
        &.active{
          border-bottom: #da3b00 solid 2px;
          color: #da3b00;
        }
      }
    }
    .description-text{
      display: none;
      font-size: 13px;
      margin-top: 30px;
      &.show{
        display: block;
      }
    }
  }
}