<ion-header>
  <ion-toolbar color="primary"  class="alpha-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Booking History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='light'>

    <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button tab="new">
            <ion-label>New</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="in_progress">
            <ion-label>In Progress</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="completed">
            <ion-label>Completed</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

</ion-content>
