<ion-content color="light">
  <ng-container *ngIf = "showData">
  <ion-card *ngFor = "let book of userBooking" class="welcome-card section-card">
      <ion-item (click) = "courseDetail(book.new_course.id)">
        <ion-card-title>{{book.new_course.title}}</ion-card-title>
      </ion-item>
      <ion-item>
          <ion-label class="author"><strong>Fee: </strong></ion-label>
          <ion-button fill="outline" slot="end">{{book.new_course.course_fee.fee}} PKR</ion-button>
      </ion-item>
      <ion-item>
        <ion-chip *ngFor = "let day of book.new_course.schedule">
          <ion-label>{{day.day | days }}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
          <ion-label class="date">Starting Date: {{book.new_course.start_date | date : mediumDate }}</ion-label>
      </ion-item>
      <ion-item>
          <ion-label class="date">End Date: {{book.new_course.end_date | date : mediumDate }}</ion-label>
      </ion-item>
      <ion-item>
          <ion-label class="date">Registered on: {{book.timestamp | date: 'medium'}}</ion-label>
      </ion-item>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!showData">
      <ion-card>
          <ion-card-content>
              <h2>No records :(</h2>
          </ion-card-content>
      </ion-card>
  </ng-container>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <a href="whatsapp://send?phone=+923121527725">
        <ion-fab-button>
          <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
      </a>
      </ion-fab>
</ion-content>
