<ion-content color="light">
  <ng-container *ngIf = "showData">
  <ion-card *ngFor = "let book of userBooking" class="welcome-card section-card">
      <ion-item>
        <ion-card-title>{{book.new_course.title}}</ion-card-title>
        <ion-button fill="outline" slot="end">{{book.new_course.course_fee.fee}} PKR</ion-button>
      </ion-item>
      <ion-item>
        <ion-chip *ngFor = "let day of book.new_course.schedule">
          <ion-label>{{day.day | days }}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <ion-label class="date">Starting Date {{book.new_course.start_date | date : mediumDate }}</ion-label>
                  </ion-col>
                  <ion-col class="ion-text-right">
                      <ion-label class="date">End Date {{book.new_course.end_date | date : mediumDate }}</ion-label>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-item>
      <ion-item>
          <ion-label class="date">Booking Time {{book.timestamp | date: 'medium'}}</ion-label>
      </ion-item>
      <ion-card-content>
       {{book.new_course.description}}
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!showData">
      <ion-card>
          <ion-card-content>
              <h2>No records :(</h2>
          </ion-card-content>
      </ion-card>
  </ng-container>
</ion-content>
