.welcome-card{
  margin-top: 20px;
  background:#ffffff;
  box-shadow: none;
  padding: 0 0 15px 0;
  &.section-card{
    padding: 10px;
  }
}
.forgot {
  text-decoration: underline;
  text-align: right;
  float: right;
}
