<ion-header>
  <ion-toolbar color="primary" class="alpha-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='light'>
  <ion-card class="welcome-card">
    <ion-list>
        <form [formGroup]="fg">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input  name="username"  formControlName="username" required ></ion-input>
      </ion-item>
      <p *ngIf="fg.get('username').dirty && hasError('username', 'required')" style="color : red">Username is required</p>
      <ion-item>
        <ion-label position="floating" >Password</ion-label>
        <ion-input  name="password"  formControlName="password" required type="password" ></ion-input>
      </ion-item>
      <p *ngIf="fg.get('password').dirty && hasError('password', 'required')" style="color : red">Password is required</p>
      </form>
    </ion-list>
  </ion-card>
  <ion-card class="welcome-card section-card">
    <ion-button color="secondary" expand="block" (click)="login()" [disabled] ="!fg.valid">Sign In</ion-button>
  </ion-card>
  <ion-card class="welcome-card section-card">
    <ion-button color="tertiary" expand="block" (click) = "goToRegister()">New? Register Now</ion-button>
  </ion-card>

</ion-content>