// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body, h1, h2, h3, h4, h5, p, span{
  font-family: 'Roboto', sans-serif;
}
.alpha-bg-lite{
  background: url(src/assets/images/banner.png) no-repeat top center;
  display: flex;
  flex-flow: column;
  min-height: 100%;
  padding-bottom: 50px;
}
.alpha-header{
  padding-top: 0 !important;
}
.section-head{
  h2{
    font-family: 'Roboto', sans-serif;
    margin: 30px 0 0 15px;
    font-size: 25px;
    color: #333;
  }
}
.alpha-button{
  width:100%;
  box-shadow: none !important;
  border-radius:0 !important;
}
.sign-in-options{
  margin: 0;
  padding: 0;
}
.footer-text{
  padding: 10px 15px;
  font-size: 11px;
}
.transparent{
  background: transparent;
  box-shadow: none;
}
.purple{
  background: #654e98;
  box-shadow: none;
}