<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
      <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="name" ></ion-input>
        </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" (ngModelChange) = "checkUsername()"></ion-input>
    </ion-item>
    <p *ngIf = "userExist" style="color : red">Username already taken</p>
    <ion-item>
      <ion-label position="floating" >Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input [(ngModel)]="email" type="email" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" >Phone No</ion-label>
        <ion-input [(ngModel)]="phone" type="number" ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="primary" expand="block" (click)="register()">Register Now</ion-button>

</ion-content>
