<ion-header>
  <ion-toolbar color="primary" class="alpha-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='light'>
    <div class="alpha-bg-lite">
      <ion-card *ngIf="pending" (click)="goToBooking('new')" class="welcome-card attention-card">
        <h4>You have registered for <ion-badge color="warning">{{pending}}</ion-badge> course(s), but have not confirmed payment. Click to confirm.</h4>
      </ion-card>

      <ion-card *ngIf="onGoing" (click)="goToBooking('in_progress')" class="welcome-card goodnews-card">
        <h4>You have {{onGoing}} classes in-progress. Click to view</h4>
      </ion-card>

      <ion-card class="welcome-card">
        <h1>Be Ahead,<br>Start your favourite<br>course today!</h1>
      </ion-card>

      <ion-card class="welcome-card section-card">
        <ion-grid>
          <ion-row>
            <ion-col class="section-head">
              <h2>Find suitable course</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label>Study Level</ion-label>
                  <ion-select [(ngModel)]="studyLevel" (ngModelChange) = "getSubjects(studyLevel)">
                    <ion-select-option *ngFor="let level of studyLevelList" [value]="level.id" >{{level.title}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label>Subject/Course</ion-label>
                  <ion-select [(ngModel)]="course">
                    <ion-select-option *ngFor="let subject of subjectList" [value]="subject.id" >{{subject.title}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="secondary" class="alpha-button" (click) = "getCourseList()" [disabled] = "!course">Search</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
</ion-content>
