<ion-header>
  <ion-toolbar color="primary" class="alpha-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Payment History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

    <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button tab="pending">
            <ion-label>Pending</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="approved">
            <ion-label>Approved</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="rejected">
            <ion-label>Rejected</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

</ion-content>
